#rootPane {
    -fx-background-color: #FFFFFF;
}

.text-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 22;
    -fx-background-radius: 22;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-highlight-fill: #1C3849;
    -fx-highlight-text-fill: #FFFFFF;
    -fx-text-fill: black;
}

.text-field:focused {
    -fx-border-color: #1C3849;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(28, 56, 73, 0.1), 4, 0.3, 0, 0);
}

.input-label {
    -fx-fill: black;
}

.error-text {
    -fx-fill: red;
}

#loginBtn {
    -fx-background-color: #1C3849;
    -fx-background-radius: 18;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

#loginBtn:hover {
    -fx-background-color: #274b61;
    -fx-effect: dropshadow(gaussian, rgba(28,56,73,0.3), 6, 0.3, 0, 2);
}

.forgot-password {
    -fx-fill: #4a5b85;
    -fx-cursor: hand;
}

.regular-text {
    -fx-fill: #4a5b85;
}

.highlight-text {
    -fx-fill: #1C3849;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

#forgotPasswordLink:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 2, 0.3, 0, 1);
    -fx-fill: #274b61;
}