#rootPane{
    -fx-background-color: #0E1C24;
}

.page-title {
    -fx-font-family: "MS Reference Sans Serif";
    -fx-text-fill: #e9f0f1; /* Soft White */
    -fx-font-weight: bold;
}

.input-label {
    -fx-fill: #e9f0f1; /* Soft White */
}

.error-label {
    -fx-fill: #ff4d4f; /* Bright Red */
    -fx-font-family: "MS Reference Sans Serif";
    -fx-font-size: 16px;
}

.text-field {
    -fx-background-color: #1A2632; /* Dark Input Background */
    -fx-border-color: #455a64;
    -fx-border-width: 1;
    -fx-border-radius: 22;
    -fx-background-radius: 22;
    -fx-background-insets: 0;

    -fx-text-fill: white;
    -fx-prompt-text-fill: #a8b0b2;
}

.text-field:focused {
    -fx-border-color: #2a9d8f; /* Teal Focus */
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(42, 157, 143, 0.2), 6, 0.3, 0, 0);
}

#backBtn {
    -fx-background-color: #1C3849;
    -fx-text-fill: #ffffff;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
    -fx-border-color: rgba(255,255,255,0.1);
    -fx-border-radius: 10;
}

#submitBtn {
    -fx-background-color: #1C3849;
    -fx-background-radius: 8;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-border-color: rgba(255,255,255,0.1);
    -fx-border-radius: 8;
}

#backBtn:hover,
#submitBtn:hover {
    -fx-background-color: #274b61;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.2), 6, 0.3, 0, 2);
}