#rootPane{
    -fx-background-color: #FFFFFF;
}

.page-title {
    -fx-font-family: "MS Reference Sans Serif";
    -fx-text-fill: #1C3849;
    -fx-font-weight: bold;
}

.input-label {
    -fx-fill: black;
}

.error-label {
    -fx-fill: red; /* Note: Text nodes use -fx-fill, Labels use -fx-text-fill */
    -fx-font-family: "MS Reference Sans Serif";
    -fx-font-size: 16px;
}

.text-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 22;
    -fx-background-radius: 22;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-highlight-fill: #1C3849;
    -fx-highlight-text-fill: #FFFFFF;
    -fx-text-fill: black;
}

.text-field:focused {
    -fx-border-color: #1C3849;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(28,56,73,0.1), 4, 0.3, 0, 0);
}

#backBtn {
    -fx-background-color: #1C3849;
    -fx-text-fill: #ffffff;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
}

#submitBtn {
    -fx-background-color: #1C3849;
    -fx-background-radius: 8;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#backBtn:hover,
#submitBtn:hover {
    -fx-background-color: #274b61;
    -fx-effect: dropshadow(gaussian, rgba(28,56,73,0.3), 6, 0.3, 0, 2);
}