.modal-root {
    -fx-background-color: white;
    -fx-padding: 25;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0, 0, 5);
}

.modal-title {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #1C3849;
}

.input-label {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.combo-box {
    -fx-background-color: #f8f9fa;
    -fx-border-color: #dee2e6;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 2 5; /* Adjusted padding */
    -fx-font-size: 14;
}

.combo-box:focused {
    -fx-border-color: #1C3849;
    -fx-background-color: white;
}

.combo-box .list-cell {
    -fx-background-color: white;
    -fx-text-fill: #333;
}

.combo-box .list-view {
    -fx-background-color: white;
    -fx-border-color: #dee2e6;
}

.combo-box .list-cell:filled:hover {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: black;
}

.button {
    -fx-background-radius: 5;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-pref-height: 35;
}

.cancel-button {
    -fx-background-color: #6c757d;
    -fx-text-fill: white;
    -fx-pref-width: 100;
}

.cancel-button:hover {
    -fx-background-color: #5a6268;
}

.primary-button {
    -fx-background-color: #1C3849;
    -fx-text-fill: white;
    -fx-pref-width: 120;
}

.primary-button:hover {
    -fx-background-color: #152836;
}