#navMenu {
    -fx-background-color: #1C3849;
    -fx-alignment: center;
    -fx-spacing: 40;
    -fx-padding: 24 0 24 0;
}

.sidebarBtn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-padding: 0;
}

.sidebarBtn:hover {
    -fx-background-color: rgb(22, 43, 57); /* Slightly Darker Blue */
}

.sidebarBtn.active {
    -fx-background-color: rgba(255, 255, 255, 0.25);
}

.sidebarContent {
    -fx-alignment: center;
    -fx-spacing: 6;
}

.sidebar-text {
    -fx-fill: white;
    -fx-font-family: "MS Reference Sans Serif";
    -fx-font-size: 15px;
    -fx-text-alignment: center;
}