#rootPane {
    -fx-background-color: #FFFFFF;
}
.page-title {
    -fx-font-family: "MS Reference Sans Serif";
    -fx-font-size: 32px;
    -fx-text-fill: #1C3849;
    -fx-font-weight: bold;
}
.field-label {
    -fx-font-family: "MS Reference Sans Serif";
    -fx-font-size: 22px;
    -fx-fill: #000000;
}
.text-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 13;
    -fx-background-radius: 13;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-highlight-fill: #828282;
    -fx-highlight-text-fill: #FFFFFF;
}
.text-field:focused {
    -fx-border-color: #1C3849;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(28,56,73,0.1), 4, 0.3, 0, 0);
}
.confirm-button {
    -fx-background-color: #1C3849;
    -fx-background-radius: 8;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.back-button {
    -fx-background-color: #1C3849;
    -fx-text-fill: #ffffff;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
}

.confirm-button:hover,
.back-button:hover {
    -fx-background-color: #274b61;
    -fx-effect: dropshadow(gaussian, rgba(28,56,73,0.3), 6, 0.3, 0, 2);
}

.error-label {
    -fx-text-fill: red;
    -fx-font-family: "MS Reference Sans Serif";
    -fx-font-size: 16px;
}
#profileCircle {
    -fx-fill: #D9D9D9;
}
#profileInitial {
    -fx-text-fill: black;
    -fx-font-size: 64px;
}
