#rootPane{
    -fx-background-color: white;
}
#navMenu {
    -fx-background-color: #1C3849;
    -fx-alignment: center;
    -fx-spacing: 40;                 /* spacing between buttons */
    -fx-padding: 24 0 24 0;          /* top and bottom padding */
}

.sidebarBtn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-padding: 0;
}

.sidebarBtn:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1); /* subtle hover effect */
}

.sidebarBtn.active {
    -fx-background-color: rgba(255, 255, 255, 0.25);
}

.sidebarContent {
    -fx-alignment: center;
    -fx-spacing: 6; /* distance between icon and text */
}

.sidebarText {
    -fx-fill: white;
    -fx-font-family: "MS Reference Sans Serif";
    -fx-font-size: 18px;
    -fx-text-alignment: center;
}

