#rootPane{
    -fx-background-color: #FFFFFF;
}

#backBtn {
    -fx-background-color: #1C3849;
    -fx-text-fill: #ffffff;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
}

#updateBtn {
    -fx-background-color: #1C3849;
    -fx-background-radius: 8;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.text-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 22;
    -fx-background-radius: 22;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-highlight-fill: #1C3849;
    -fx-highlight-text-fill: #FFFFFF;
}

.error-label {
    -fx-text-fill: red;
    -fx-font-family: "MS Reference Sans Serif";
    -fx-font-size: 16px;
}

.status-label {
    -fx-text-fill: #1C3849;
    -fx-font-family: "MS Reference Sans Serif";
    -fx-font-size: 16px;
}
