#rootPane {
    -fx-background-color: white;
}

#User_icon {
    -fx-cursor: hand;
}

#User_icon:hover #userIconRect {
    -fx-fill: #274b61;
    -fx-effect: dropshadow(gaussian, rgba(28,56,73,0.3), 6, 0.3, 0, 2);
}