.text-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 22;
    -fx-background-radius: 22;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-highlight-fill: #1C3849;
    -fx-highlight-text-fill: #FFFFFF;
}

#rootPane{
    -fx-background-color: #FFFFFF;
}

#loginBtn{
    -fx-background-color: #1C3849;
    -fx-background-radius: 18;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.forgot-password {
    -fx-fill: #4a5b85;
    -fx-cursor: hand;
}

.regular-text {
    -fx-fill: #4a5b85;
}

.highlight-text {
    -fx-fill: #1C3849;
    -fx-cursor: hand;
}

.error-label {
    -fx-text-fill: red;
    -fx-font-family: "MS Reference Sans Serif";
    -fx-font-size: 16px;
}

.password-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 22;
    -fx-background-radius: 22;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-highlight-fill: #1C3849;
    -fx-highlight-text-fill: #FFFFFF;
}

#loginBtn:hover {
    -fx-background-color: #152a38;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0.3, 1, 1);
}

#signupLink:hover {
    -fx-fill: #152a38;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2, 0.3, 1, 1);
}

#forgotPasswordLink:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2, 0.3, 1, 1);
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #1C3849;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(28, 56, 73, 0.1), 4, 0.3, 0, 0);
}